body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(247, 247, 247);
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(92, 103, 168);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #ffffff;
    margin-left: 10px;
}


ul, ol {
    padding: 0;
    margin: 0;
}

header img {
    width: 100px;
}

main {
    color: #000;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 2rem;
    width: 100%;
    flex-wrap: wrap;
}


main div:not(:last-child) {
    margin-right: 8px;
}

main table {
    border: 1px solid #000;
    border-collapse: collapse;
}

main table td, th {
    border: 1px solid #000;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #fff;
    background-color: rgb(92, 103, 168);
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 30px;
}

.wrapper {
    width: 600px;
    padding: 5px;
    font-size: 40px;
    font-weight: bold;
}

.keyboard {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.result {
    width: 586px;
    height: 105px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.keyboard a {
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    color: #000;
    height: 105px;

}

.reset {
    grid-column-start: 1;
    grid-column-end: 6;
}



















